body {
	background-color: #EEEEEE;
}

.container {
	width: 40%;
	margin: auto;
	padding: 0px;
}

.yellow {
	color: #DDDD22;
}

.red {
	color: #DD2222;
}


.sideBox {
	width: 25%;
	margin: auto;
}

@media all and (orientation: portrait) { 
	.container {
		width: 100%;
	}
}