body {
	background-color: #EEEEEE;
}

.container {
	width: 40%;
	margin: auto;
	padding: 0px;
}

.yellow {
	color: #DDDD22;
}

.red {
	color: #DD2222;
}

.sideBox, .choiceBox {
	margin: auto;
}

.choiceBox {
	width: 27%;
	font-size: 5vmax;
}

.choiceItem:hover {
	color: #222222 !important; 
	cursor: pointer;
}

@media all and (orientation: portrait) { 
	.container {
		width: 100%;
	}
}